# Environment
.env
.env.local
.env.*.local

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.sqlite3

# Django
staticfiles/
media/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
